
.input-group {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: relative;
    cursor: text;
    margin-top: 16px;
}

.input-group label {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    top: 13px;
    left: 10px;
    transition: top 0.1s, font-size 0.1s;
    color: var(--dark-grey);
    cursor: text;
    background-color: rgb(19, 29, 40);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgba(165, 174, 165, .66);
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgba(231, 0, 76, 1) inset;
    -webkit-text-fill-color: #fff;
  }

.input-group:hover label {
    color: rgba(165, 174, 165, 1);
}

.input-group label.input-focused {
    font-size: 12px;
    top: -8px;
    color: rgba(165, 174, 165, 1);
}


.chat-bubble.assistant .input-group label {
    background-color: rgba(231, 0, 76, 1);
    color: rgba(165, 174, 165, 1);
}

.chat-bubble.assistant .input-group label.input-focused {
    background-color: rgba(231, 0, 76, 1);
    color: #fff;
}

.input-group input, .input-group select, .input-group textarea {
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    border: 0px;
    outline: none;
    padding: 12px;
    font-size: 16px;
    border: 1px solid rgba(165, 174, 165, .66);
    background-color: transparent;
    border-radius: 4px;
    min-width: 0px;
    color: #fff;
}

.input-check {
    margin-top: 10px;
}

.input-check i {
    cursor: pointer;
}

.chat-bubble .input-group input, .chat-bubble .input-group select, .chat-bubble .input-group textarea {
    border: 1px solid rgba(255, 255, 255, .5);
}

.input-group textarea {
    min-height: 150px;
    font-size: 14px;
    line-height: 19px;
    padding: 16px;
}

.input-group input[type=date] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.input-group:hover input, .input-group:hover textarea {
    border: 1px solid rgba(165, 174, 165, .66);
}

.chat-bubble .input-group:hover input, .chat-bubble .input-group:hover textarea {
    border: 1px solid #fff;
}

.input-group input:focus, .input-group textarea:focus {
    outline: none;
    border: 1px solid rgba(165, 174, 165, .66);
}

.chat-bubble .input-group input:focus, .chat-bubble .input-group textarea:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
}

.input-group input:disabled, .input-group select:disabled, .input-group textarea:disabled {
    background-color: rgba(165, 174, 165, .66);
}

button {
    background-color: transparent;
    color: rgba(165, 174, 165, 1);
    opacity: 1;
    transition: opacity .1s ease;
    border: 0px;
    outline: 0px;
    font-size: 16px;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    color: var(--very-dark-grey);
}

button:active {
    color: var(--accent-color-on-light);
}

button:disabled {
    opacity: 50%;
}

button.btn-primary, button.btn-secondary {
    opacity: 1;
    transition: opacity .1s ease;
    color: #fff;
}

.chat-bubble button.btn-primary {
    background-color: rgba(255, 255, 255, .25)
}

.chat-bubble button.btn-primary:hover {
    background-color: rgba(255, 255, 255, .5)
}

button img {
    display: inline-block;
    margin: 0px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.btn-container {
    padding: 8px;
    padding-top: 16px;
    text-align: center;
}

button.btn-primary:hover:enabled, button.btn-secondary:hover:enabled {
    background-color: rgba(231, 0, 76, .75);
}

button.btn-primary:active:enabled, button.btn-secondary:active:enabled {
    background-color: rgba(231, 0, 76, 0.5);
}

button.btn-primary {
    background-color: rgba(231, 0, 76, 1);
    color: #fff;
}

button.btn-secondary {
    background-color: var(--very-light-grey);
    border: 1px solid var(--light-grey);
    color: var(--very-dark-grey);
}

button.btn-danger {
    background-color: var(--error-dark);
    color: var(--white);
}

button:disabled {
    color: var(--light-grey);
    cursor: wait;
}

fieldset {
    border-radius: 8px;
    border: 1px solid rgba(165, 174, 165, .33);
    padding: 16px;
    margin-top: 16px;
}

.chat-bubble.assistant fieldset {
    border-radius: 8px;
    border: 1px solid rgba(165, 174, 165, 1);
    padding: 16px;
    margin-top: 16px;
}

fieldset legend {
    color: #fff;
}

.form-complete {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
}

.error-message {
    padding: 8px;
    margin-top: 8px;
    background-color:rgba(231, 0, 76, 1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 8px;
    color: yellow;
}

.modal .input-group label {
    background-color: #fff;
    color: #333;
}

.modal input, .modal textarea {
    border: 1px solid #ddd;
    color: #333;
}

.modal input, .modal textarea:disabled {
    background-color: 1px solid rgba(255, 255, 255, 0.75);
}

.modal input:hover, .modal textarea:hover {
    border: 1px solid #aaa;
    color: #333;
}

.modal input:focus, .modal textarea:focus {
    border: 1px solid #aaa;
    color: #333;
}

.modal button.btn-primary, .modal button.btn-secondary {
    opacity: 1;
    transition: opacity .1s ease;
    color: #fff;
    background-color: #333;
}

.select-list li{
    list-style: none;
    padding: 5px;
}

.select-list li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}